<div>
  <p>Tu nombre es {{nombre}}</p>
  <p>Tu edad es {{edad}}</p>
  <p>{{esFumador()}}</p>
  <p>Sueldos: {{sueldos}}</p>
</div>

<div>
  <h3>Directiva *ngIf</h3>
  <p *ngIf="edad>=18; else menor">Eres mayor de edad.</p>
  <p *ngIf="fumador && edad>=18">Asi que si que puedes fumar mariconazo</p>
  <ng-template #menor><p>Eres menor de edad</p></ng-template>
</div>

<div>
  <h3>Directiva *ngFor</h3>
  <ul>
    <li *ngFor="let sueldo of sueldos">{{sueldo}}</li>
  </ul>

  <select name="" id="">
    <option *ngFor="let prov of provincias" value="{{prov.id}}">{{prov.nombre}}</option>
  </select>

  <br>
  <br>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
    <tr *ngFor="let prov of provincias">
      <td>{{prov.id + 1}}</td>
      <td>{{prov.nombre}}</td>
    </tr>
  </table>`
</div>

<div>
  <h3>Captura de eventos</h3>
  <button (click)="diHola()">Di Hola</button>

  <button (click)="incrementar()">Aumentar</button>
  <button (click)="disminuir()">Disminuir</button>
  <p>{{cont}}</p>
</div>

<div>
  <h3>Directiva *ngModel</h3>
  <input type="text" [(ngModel)]="nombre">
</div>